<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="#"></a>
  <ul class="nav navbar-nav mr-auto d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
    </li>
  </ul>
  <span class="float-right"><vertcoin-balance></vertcoin-balance></span>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">
        <li *ngFor="let menuItem of menuItems" class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="[menuItem.link]"><i [className]="menuItem.icon"></i> {{ menuItem.titleString | translate }}</a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">
    <div class="fullPage">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer">
  <a href="https://www.vertcoin.org/">Vertcoin</a> &copy; 2014-2017 Vertcoin.
  <span class="float-right"><vertcoin-syncstatus></vertcoin-syncstatus></span>
</footer>
