<div *ngIf="!checkedInitialization" class="animated fadeIn">
  Please wait...
</div>
<div *ngIf="checkedInitialization" class="animated fadeIn fullPage">
  <div *ngIf="step == 'intro'">
    <h1>{{ '_ONBOARDING_WELCOME_TITLE_' | translate }}</h1>
    <p>{{ '_ONBOARDING_WELCOME_BODY_' | translate }}</p>
  </div>
  <div *ngIf="step == 'conntype'">
    <h1>{{ '_ONBOARDING_CHOOSE_CONNECTION_TITLE_' | translate }}</h1>
    <p>{{ '_ONBOARDING_CHOOSE_CONNECTION_INTRO_' | translate }}</p>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>{{ '_ONBOARDING_CHOOSE_CONNECTION_STANDALONE_TITLE_' | translate }}</h2>
            <p>
              <small>{{ '_ONBOARDING_CHOOSE_CONNECTION_STANDALONE_DESCRIPTION_' | translate }}</small>
            </p>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-outline-primary" (click)="chooseStandalone()">
              <i class="icon icon-check"></i> {{ '_ONBOARDING_CHOOSE_CONNECTION_STANDALONE_CHOOSE_' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>{{ '_ONBOARDING_CHOOSE_CONNECTION_TRUSTED_SERVER_TITLE_' | translate }}</h2>
            <p>
              <small>{{ '_ONBOARDING_CHOOSE_CONNECTION_TRUSTED_SERVER_DESCRIPTION_' | translate }}</small>
            </p>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-outline-primary" (click)="chooseTrustedServer()">
              <i class="icon icon-check"></i> {{ '_ONBOARDING_CHOOSE_CONNECTION_TRUSTED_SERVER_CHOOSE_' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="(step == 'pickServer')">
    <h1>{{ '_ONBOARDING_CHOOSE_SERVER_TITLE_' | translate }}</h1>
    <p>{{ '_ONBOARDING_CHOOSE_SERVER_INTRO_' | translate }}</p>
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th>{{ '_ONBOARDING_CHOOSE_SERVER_NAME_' | translate }}</th>
          <th>{{ '_ONBOARDING_CHOOSE_SERVER_LOCATION_' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let server of servers">
          <td><input type="radio" name="server" [value]="server.name" [(ngModel)]="serverName" /></td>
          <td>{{server.name}}</td>
          <td>{{server.location}}</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div *ngIf="step == 'createWallet'">
    <h1>{{ '_ONBOARDING_CREATE_WALLET_TITLE_' | translate }}</h1>
    <p>{{ '_ONBOARDING_CREATE_WALLET_INTRO_' | translate }}</p>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>{{ '_ONBOARDING_CREATE_WALLET_CREATE_NEW_TITLE_' | translate }}</h2>
            <p>
              <small>{{ '_ONBOARDING_CREATE_WALLET_CREATE_NEW_DESCRIPTION_' | translate }}</small>
            </p>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-outline-primary" (click)="chooseNewWallet()">
              <i class="icon icon-check"></i> {{ '_ONBOARDING_CREATE_WALLET_CREATE_NEW_CHOOSE_' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xs-12">
        <div class="card">
          <div class="card-block">
            <h2>{{ '_ONBOARDING_CREATE_WALLET_RESTORE_SEED_TITLE_' | translate }}</h2>
            <p>
              <small>{{ '_ONBOARDING_CREATE_WALLET_RESTORE_SEED_DESCRIPTION_' | translate }}</small>
            </p>
          </div>
          <div class="card-footer text-center">
            <button class="btn btn-outline-primary" (click)="chooseRecoverFromSeed()">
              <i class="icon icon-check"></i> {{ '_ONBOARDING_CREATE_WALLET_RESTORE_SEED_CHOOSE_' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="step == 'newWalletSeed'">
    <h1>{{ '_ONBOARDING_RECOVERY_SEED_TITLE_' | translate }}</h1>
    <p>{{ '_ONBOARDING_RECOVERY_SEED_INTRO_' | translate }}</p>
    <div class="recoverySeed">
      <pre>{{recoverySeed}}</pre>
    </div>
  </div>
  <div *ngIf="step == 'walletSeedCheck'">
    <h1>{{ '_ONBOARDING_VERIFY_RECOVERY_SEED_TITLE_' | translate }}</h1>
    <p>{{ '_ONBOARDING_VERIFY_RECOVERY_SEED_INTRO_' | translate }}</p>
    <div class="text-center">
      <input class="form-control" [(ngModel)]="checkPhrase" />
    </div>
    <div class="text-center">
      <button class="btn btn-primary" (click)="verifySeedPhrase()">
        <i class="icon icon-check"></i> {{ '_ONBOARDING_VERIFY_RECOVERY_SEED_VERIFY_' | translate }}
      </button>
    </div>
  </div>



      <div class="bottomLeftButtons">
        <button *ngIf="step != 'intro'" class="btn btn-outline-secondary" (click)="previous()" [disabled]="disabledPrevious">Previous</button>
      </div>
      <div class="bottomRightButtons">
        <button *ngIf="step != 'conntype' && step != 'createWallet'" class="btn btn-outline-primary" (click)="next()" [disabled]="disabledNext">Next</button>
      </div>



</div>
