// Here you can add other styles
div.balance {
  font-size: 10pt;
  line-height: 20pt;
  span.balanceFull {
    font-size: 14pt;
    font-weight: bold;
    line-height: 20pt;
  }
  span.balanceFractions {
    font-size: 8pt;
    line-height: 20pt;
  }
  margin-right: 20px;
}

div.fullPage {
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y : auto;
}

div.bottomLeftButtons {
  position: absolute;
  left: 0px;
  bottom: 30px;
}

div.bottomRightButtons {
  position: absolute;
  right: 0px;
  bottom: 30px;
}
