<div class="fullPagePadding">
  <div>
    <h1>{{ '_ONBOARDING_LASTFEWTHINGS_TITLE_' | translate }}</h1>
    <p>{{ '_ONBOARDING_LASTFEWTHINGS_INTRO_' | translate }}</p>
  </div>
  <div>
    <h3>{{ '_ONBOARDING_LASTFEWTHINGS_BUY_TITLE_' | translate }}</h3>
    <p>{{ '_ONBOARDING_LASTFEWTHINGS_BUY_DESCRIPTION_' | translate }}</p>
  </div>
  <div>
    <h3>{{ '_ONBOARDING_LASTFEWTHINGS_MINE_TITLE_' | translate }}</h3>
    <p>{{ '_ONBOARDING_LASTFEWTHINGS_MINE_DESCRIPTION_' | translate }}</p>
  </div>
  <div>
    <h3>{{ '_ONBOARDING_LASTFEWTHINGS_FURTHERHELP_TITLE_' | translate }}</h3>
    <p>{{ '_ONBOARDING_LASTFEWTHINGS_FURTHERHELP_DESCRIPTION_' | translate }}</p>
  </div>
  <div class="bottomRightButtons">
    <button (click)="finish()" class="btn btn-outline-primary">{{'_GENERIC_FINISH_' | translate}}</button>
  </div>
</div>
