<div class="animated fadeIn fullPagePadding">
  <h1>{{ '_ONBOARDING_SET_PASSWORD_TITLE_' | translate }}</h1>
  <p>{{ '_ONBOARDING_SET_PASSWORD_INTRO_' | translate }}</p>
  <div class="text-center">
    <input class="form-control" [(ngModel)]="password" type="password" placeholder="{{'_ONBOARDING_SET_PASSWORD_PASSWORD_' | translate }}" />
  </div>
  <p>&nbsp;</p>
  <div class="text-center">
    <input class="form-control" [(ngModel)]="verifyPassword" type="password" placeholder="{{'_ONBOARDING_SET_PASSWORD_VERIFY_' | translate }}" />
  </div>
  <p>&nbsp;</p>
  <div *ngIf="showPasswordsDontMatchNotice" class="alert alert-danger" role="alert">
    {{ '_ONBOARDING_SET_PASSWORD_MISMATCH_' | translate }}
  </div>
  <div *ngIf="showEmptyPasswordNotice" class="alert alert-danger" role="alert">
    {{ '_ONBOARDING_SET_PASSWORD_EMPTY_' | translate }}
  </div>
  <div class="bottomLeftButtons">
    <button class="btn btn-outline-secondary" (click)="previous()">{{'_GENERIC_PREVIOUS_' | translate}}</button>
  </div>
  <div class="bottomRightButtons">
    <button class="btn btn-outline-primary" (click)="next()">{{'_GENERIC_NEXT_' | translate}}</button>
  </div>
</div>
